In [20]:
import pandas as pd
from sqlalchemy import create_engine
import yaml

In [21]:
with open('C:/Users/WILSON/OneDrive/Escritorio/Septimo Semestre/CIENCIA DE DATOS/REPO_MONITOR/CS_etl_py/config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_co = config['CO_SA']
    
url_co = (f"{config_co['drivername']}://{config_co['user']}:{config_co['password']}@{config_co['host']}:{config_co['port']}/{config_co['dbname']}")

co_sa = create_engine(url_co)
print(url_co)
datos = pd.read_sql_table("salesperson", co_sa, schema="sales")
datos

postgresql://postgres:3118068685@localhost:5432/AdventureWorks2022

c:\Users\WILSON\OneDrive\Escritorio\Septimo Semestre\CIENCIA DE DATOS\REPO_MONITOR\CS_etl_py\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'additionalcontactinfo'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\WILSON\OneDrive\Escritorio\Septimo Semestre\CIENCIA DE DATOS\REPO_MONITOR\CS_etl_py\my_env\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'demographics'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

,businessentityid,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid,modifieddate
0,274,NaN,NaN,0.0,0.000,559697.56,0.0,48754992-9ee0-4c0e-8c94-9451604e3e02,2010-12-28 00:00:00+00:00
1,275,2.0,300000.0,4100.0,0.012,3763178.30,1750406.5,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24 00:00:00+00:00
2,276,4.0,250000.0,2000.0,0.015,4251368.50,1439156.0,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24 00:00:00+00:00
3,277,3.0,250000.0,2500.0,0.015,3189418.30,1997186.3,39012928-bfec-4242-874d-423162c3f567,2011-05-24 00:00:00+00:00
4,278,6.0,250000.0,500.0,0.010,1453719.50,1620276.9,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24 00:00:00+00:00
5,279,5.0,300000.0,6700.0,0.010,2315185.50,1849641.0,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24 00:00:00+00:00
6,280,1.0,250000.0,5000.0,0.010,1352577.10,1927059.1,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24 00:00:00+00:00
7,281,4.0,250000.0,3550.0,0.010,2458535.50,2073506.0,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24 00:00:00+00:00
8,282,6.0,250000.0,5000.0,0.015,2604540.80,2038234.6,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24 00:00:00+00:00
9,283,1.0,250000.0,3500.0,0.012,1573013.00,1371635.4,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24 00:00:00+00:00
10,284,1.0,300000.0,3900.0,0.019,1576562.30,0.0,ac94ec04-a2dc-43e3-8654-dd0c546abc17,2012-09-23 00:00:00+00:00
11,285,NaN,NaN,0.0,0.000,172524.45,0.0,cfdbef27-b1f7-4a56-a878-0221c73bae67,2013-03-07 00:00:00+00:00
12,286,9.0,250000.0,5650.0,0.018,1421810.90,2278549.0,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23 00:00:00+00:00
13,287,NaN,NaN,0.0,0.000,519905.94,0.0,1dd1f689-df74-4149-8600-59555eef154b,2012-04-09 00:00:00+00:00
14,288,8.0,250000.0,75.0,0.018,1827066.80,1307949.8,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23 00:00:00+00:00
15,289,10.0,250000.0,5150.0,0.020,4116871.30,1635823.4,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23 00:00:00+00:00
16,290,7.0,250000.0,985.0,0.016,3121616.30,2396539.8,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23 00:00:00+00:00

In [22]:
def load_table(schema, table):
    query = f"SELECT * FROM {schema}.{table}"
    return pd.read_sql(query, co_sa)

In [23]:
salesorderheader = load_table("sales", "salesorderheader")
salesorderdetail = load_table("sales", "salesorderdetail")
customer = load_table("sales", "customer")
personcreditcard = load_table("sales", "personcreditcard")
salesperson = load_table("sales", "salesperson")
store = load_table("sales", "store")
specialoffer = load_table("sales", "specialoffer")
specialofferproduct = load_table("sales", "specialofferproduct")
salesterritory = load_table("sales", "salesterritory")
currency = load_table("sales", "currency")
currencyrate = load_table("sales", "currencyrate")

In [24]:
person = load_table("person", "person")
address = load_table("person", "address")
businessentity = load_table("person", "businessentity")
businessentityaddress = load_table("person", "businessentityaddress")
stateprovince = load_table("person", "stateprovince")
countryregion = load_table("person", "countryregion")

In [25]:
product = load_table("production", "product")
subcategory = load_table("production", "productsubcategory")
category = load_table("production", "productcategory")

In [26]:
employee = load_table("humanresources", "employee")
emp_history = load_table("humanresources", "employeedepartmenthistory")
department = load_table("humanresources", "department")

In [27]:
def build_dimdate(df, colname):
    date_df = pd.DataFrame()
    date_df["date"] = pd.to_datetime(df[colname].dropna().unique())

    date_df["datekey"] = date_df["date"].dt.strftime("%Y%m%d").astype(int)
    date_df["year"] = date_df["date"].dt.year
    date_df["month"] = date_df["date"].dt.month
    date_df["day"] = date_df["date"].dt.day
    date_df["quarter"] = date_df["date"].dt.quarter
    date_df["is_weekend"] = (date_df["date"].dt.weekday >= 5).astype(int)

    return date_df

dimdate_order = build_dimdate(salesorderheader, "orderdate")
dimdate_due = build_dimdate(salesorderheader, "duedate")
dimdate_ship = build_dimdate(salesorderheader, "shipdate")

In [30]:
currencyrate = currencyrate.rename(columns={'tocurrencycode': 'currencycode'})

In [32]:
dimcurrency = currency.merge(currencyrate, on="currencycode", how="left")

In [80]:
customer = customer.rename(columns={'personid': 'businessentityid'})

In [81]:
# Customer → Person
cust = customer.merge(person, on="businessentityid", how="left")
# Address
cust = cust.merge(businessentityaddress, on="businessentityid", how="left")
# Eliminamos columnas duplicadas del DataFrame address
#address = address.drop(columns=['rowguid', 'modifieddate'])

In [82]:
customer

,customerid,businessentityid,storeid,territoryid,accountnumber,rowguid,modifieddate
0,1,NaN,934.0,1,AW00000001,3f5ae95e-b87d-4aed-95b4-c3797afcb74f,2014-09-12 11:15:07.263000+00:00
1,2,NaN,1028.0,1,AW00000002,e552f657-a9af-4a7d-a645-c429d6e02491,2014-09-12 11:15:07.263000+00:00
2,3,NaN,642.0,4,AW00000003,130774b1-db21-4ef3-98c8-c104bcd6ed6d,2014-09-12 11:15:07.263000+00:00
3,4,NaN,932.0,4,AW00000004,ff862851-1daa-4044-be7c-3e85583c054d,2014-09-12 11:15:07.263000+00:00
4,5,NaN,1026.0,4,AW00000005,83905bdc-6f5e-4f71-b162-c98da069f38a,2014-09-12 11:15:07.263000+00:00
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154f3d-28f1-4b15-ae03-9518b781ece3,2014-09-12 11:15:07.263000+00:00
19816,30115,1987.0,1988.0,6,AW00030115,e4cf8fd5-30a4-4b8e-8fd8-47032e255778,2014-09-12 11:15:07.263000+00:00
19817,30116,1989.0,1990.0,4,AW00030116,ec409609-d25d-41b8-9d15-a1aa6e89fc77,2014-09-12 11:15:07.263000+00:00
19818,30117,1991.0,1992.0,4,AW00030117,6f08e2fb-1cd3-4f6e-a2e6-385669598b19,2014-09-12 11:15:07.263000+00:00
19819,30118,1993.0,1994.0,3,AW00030118,2495b4eb-fe8b-459e-a1b6-dba25c04e626,2014-09-12 11:15:07.263000+00:00

In [83]:
cust = cust.merge(address, on="addressid", how="left")
cust

,customerid,businessentityid,storeid,territoryid,accountnumber,rowguid_x,modifieddate_x,persontype,namestyle,title,...,addressid,addresstypeid,rowguid,modifieddate,addressline1,addressline2,city,stateprovinceid,postalcode,spatiallocation
0,1,NaN,934.0,1,AW00000001,3f5ae95e-b87d-4aed-95b4-c3797afcb74f,2014-09-12 11:15:07.263000+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1028.0,1,AW00000002,e552f657-a9af-4a7d-a645-c429d6e02491,2014-09-12 11:15:07.263000+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,642.0,4,AW00000003,130774b1-db21-4ef3-98c8-c104bcd6ed6d,2014-09-12 11:15:07.263000+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,932.0,4,AW00000004,ff862851-1daa-4044-be7c-3e85583c054d,2014-09-12 11:15:07.263000+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1026.0,4,AW00000005,83905bdc-6f5e-4f71-b162-c98da069f38a,2014-09-12 11:15:07.263000+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19839,30114,1985.0,1986.0,7,AW00030114,97154f3d-28f1-4b15-ae03-9518b781ece3,2014-09-12 11:15:07.263000+00:00,SC,False,Mr.,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19840,30115,1987.0,1988.0,6,AW00030115,e4cf8fd5-30a4-4b8e-8fd8-47032e255778,2014-09-12 11:15:07.263000+00:00,SC,False,Ms.,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19841,30116,1989.0,1990.0,4,AW00030116,ec409609-d25d-41b8-9d15-a1aa6e89fc77,2014-09-12 11:15:07.263000+00:00,SC,False,Ms.,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19842,30117,1991.0,1992.0,4,AW00030117,6f08e2fb-1cd3-4f6e-a2e6-385669598b19,2014-09-12 11:15:07.263000+00:00,SC,False,Mr.,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
19843,30118,1993.0,1994.0,3,AW00030118,2495b4eb-fe8b-459e-a1b6-dba25c04e626,2014-09-12 11:15:07.263000+00:00,SC,False,Ms.,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#eliminamod dupliacadas
#stateprovince = stateprovince.drop(columns=['rowguid', 'modifieddate'])

cust = cust.merge(stateprovince, on="stateprovinceid", how="left")

In [85]:
#renombramos el nombre de countryregion
countryregion = countryregion.rename(columns={'name': 'countryname'})
#eliminamos columnas que no vamos a usar
#cust = cust.drop(columns=['rowguid', 'modifieddate', 'modifieddate_x', 'modifieddate_y'])
countryregion = countryregion.drop(columns=['modifieddate'])
cust = cust.merge(countryregion, on="countryregioncode", how="left")

KeyError: "['modifieddate'] not found in axis"

In [78]:
cust2 = cust[['city_y','city','countryregioncode', 'territoryid','businessentityid']]
cust2

,city_y,city,countryregioncode,territoryid,businessentityid
0,Newport Hills,Newport Hills,US,1.0,1
1,Renton,Renton,US,1.0,2
2,Redmond,Redmond,US,1.0,3
3,Minneapolis,Minneapolis,US,3.0,4
4,Bellevue,Bellevue,US,1.0,5
...,...,...,...,...,...
19991,W. York,W. York,GB,10.0,20773
19992,Torrance,Torrance,US,4.0,20774
19993,Bremerton,Bremerton,US,1.0,20775
19994,Versailles,Versailles,FR,7.0,20776
19995,Darlinghurst,Darlinghurst,AU,9.0,20777

In [ ]:
#escojemos las columnas que queremos para nuestro dimension customer

,customerid,personid,storeid,territoryid,accountnumber,rowguid,modifieddate
0,1,NaN,934.0,1,AW00000001,3f5ae95e-b87d-4aed-95b4-c3797afcb74f,2014-09-12 11:15:07.263000+00:00
1,2,NaN,1028.0,1,AW00000002,e552f657-a9af-4a7d-a645-c429d6e02491,2014-09-12 11:15:07.263000+00:00
2,3,NaN,642.0,4,AW00000003,130774b1-db21-4ef3-98c8-c104bcd6ed6d,2014-09-12 11:15:07.263000+00:00
3,4,NaN,932.0,4,AW00000004,ff862851-1daa-4044-be7c-3e85583c054d,2014-09-12 11:15:07.263000+00:00
4,5,NaN,1026.0,4,AW00000005,83905bdc-6f5e-4f71-b162-c98da069f38a,2014-09-12 11:15:07.263000+00:00
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154f3d-28f1-4b15-ae03-9518b781ece3,2014-09-12 11:15:07.263000+00:00
19816,30115,1987.0,1988.0,6,AW00030115,e4cf8fd5-30a4-4b8e-8fd8-47032e255778,2014-09-12 11:15:07.263000+00:00
19817,30116,1989.0,1990.0,4,AW00030116,ec409609-d25d-41b8-9d15-a1aa6e89fc77,2014-09-12 11:15:07.263000+00:00
19818,30117,1991.0,1992.0,4,AW00030117,6f08e2fb-1cd3-4f6e-a2e6-385669598b19,2014-09-12 11:15:07.263000+00:00
19819,30118,1993.0,1994.0,3,AW00030118,2495b4eb-fe8b-459e-a1b6-dba25c04e626,2014-09-12 11:15:07.263000+00:00